body {
    margin: 0;
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: solid rgb(104, 7, 83);
    background-color: rgb(215, 217, 223);
    width: 50%;
    padding: 20px;
}

.numbers {
    margin-top: 10px;

}

.box1 {
    border: solid 1px black;
    background-color: yellow;
    margin: 2px;

}

.box2 {
    border: solid 1px black;
    background-color: yellow;
    margin: 2px;
}